* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 196px;
    background-color: #000000;
}

.sidebar .logo {
    width: 130px;
    background-color: white;
}

.sidebar .navigation ul {
    list-style: none;
    margin-top: 20px;
}

.sidebar .navigation ul li {
    padding: 10px 0px;
}

.sidebar .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
    color: #ffffff;
}

.sidebar .navigation ul li .fa {
    font-size: 20px;
    margin-right: 10px;
}

.main-container {
    margin-left: 245px;
    margin-bottom: 100px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 14px 30px;
}

.topbar .prev-next-buttons button {
    color: #7a7a7a;
    cursor: not-allowed;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 10px;
    border: 0px;
    background-color: #090909;
    margin-right: 10px;
}

.topbar .navbar {
    display: flex;
    align-items: center;
}

.topbar .navbar ul {
    list-style: none;
}

.topbar .navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
}

.topbar .navbar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;;
}

.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
    color: #ffffff;
    font-size: 15px;
}

.topbar .navbar button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.topbar .navbar button:hover,
.topbar .navbar button:active,
.topbar .navbar button:focus {
    background-color: #f2f2f2;
}

.playlistActualMusic {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    height: 500px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
}

.musicPicture {
    background-color: #f7f7f7;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.musicPicture img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#musicName {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 30px;
    color: #ffffff;
}

.bottombar {
    position: sticky;
    bottom: 0px;
    height: 130px;
    background-color: #000000;
    color: #b3b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottombar .songController button {
    border: none;
    background-color: #000000;
    cursor: pointer;
}

.bottombar .songController i {
    font-size: 60px;
    padding: 5px;
    color: #b3b3b3;
    transition: all .2s;
}

.bottombar .songController i:hover {
    color: #f2f2f2;
}

footer {
    width: 100%;
}

.time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-bar {
    height: 8px;
    background-color: #f2f2f2;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
}

.progress {
    height: 8px;
    background-color:#b3b3b3;
    border-radius: 5px;
}